Postman/
QtProject.conf
Thunar/
VirtualBox/
chromium/
coc/
config/
dconf/
dolphinrc
eas-cli-nodejs/
github-copilot/
glow/
go/
gtk-3.0/
htop/
kde.org/
kdeconnect/
keepassxc/
kiorc
kitty/
kwalletrc
menus/
mimeapps.list
neofetch/
onlyoffice/
openttd/
opera/
pavucontrol.ini
pulse/
qBittorrent/
rofi/
scripts/
session/
supertuxkart/
systemd/
systemsettingsrc
tetrio-desktop/
texstudio/
torbrowser/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
vitetris
vlc/
vokoscreenNG/
wallpaper/
xfce4/
zellij/
Code - OSS/
DbGate/
GIMP/
Google/
VeraCrypt/
audacity/
caja/
cataclysm-dda/
composer/
dbgate/
filezilla/
flutter/
godot/
grafx2/
hypr/
jgit/
lazygit/
libreoffice/
libresprite/
nextjs-nodejs/
psysh/
sway/
urw3-Linux/
