0ad/
breezerc
filetypesrc
google-chrome/
kcminputrc
krdpserverrc
ksplashrc
opera/
spicetify/


chromium/
fvm/
gnome-boxes/
libvirt/
nvim-gtk/
nvim-qt/
scripts/Carpeta nueva/
user-dirs.dirs
user-dirs.locale
window-geometry.conf

pulse
dconf
QtProject.conf
VirtualBox
systemd
vokoscreenNG
QtProject
QtProject.conf
Thunar
Unknown Organization
VirtualBox
cef_user_data
coc
dconf
firefox-config
htop
kdeconnect
mimeapps.list
octave
onlyoffice
yay
xfce4
vokoscreenNG
vlc
systemd
pulse
pavucontrol.ini
pamac
zoom.conf
zoomus.conf
Genymobile/
FreeCAD
fontconfig/
gtkrc
gtkrc-2.0
gtk-2.0
gtk-4.0
jgit/
kazam/
lazygit/
GIMP/
Mousepad/
autostart/
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
mupen64plus/
xfburn/
xfce4-dict/
swi-prolog
menus
StarUML/
bleachbit/
flutter/
libreoffice
photoflare.io/
qBittorrent/
whatsapp-for-linux/
yarn/
DbGate/
dbgate/
desmume/
fcitx5/
filezilla/
ibus/
kylinsoft/
musicpod/
nvim/lua/plugins/codeium.lua
scripts/backup/
Deskreen/
audacity/
cubocore/
enchant/
gummi/
katevirc
kile-livepreview-okularpartrc
kilerc
ngrok/
obs-studio/
obsidian/
okularpartrc
okularrc
screenkey.json
spotify/
vitetris
xm1/
Code - OSS/
Electron/
GitKraken/
KDE/
Meltytech/
Minecraft Linux Launcher/
Postman/
Trolltech.conf
awesome/
balenaEtcher/
baloofilerc
bluedevilglobalrc
composer/
configstore/
discoverrc
drkonqirc
droidcam
github-copilot/
glow/
go/
gtk-3.0/colors.css
gtk-3.0/gtk.css
gzdoom/
hoverclock-qt/
inkscape/
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kded5rc
kded6rc
kdedefaults/
kdeveloprc
kglobalshortcutsrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
libaccounts-glib/
mc/
plank/
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
rclone/
session/
spotify-tui/
sway/
systemmonitorrc
texstudio/
torbrowser/
trashrc
wallpaper/Mandelset_hires.png
"wallpaper/Sin t\303\255tulo.jpg"
wallpaper/bash.jpg
wallpaper/il_1140xN.4321991630_6cha.png
xfce4_backup/
xsettingsd/
zellij/
